.ticket-container {
  padding: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: absolute; /* ขยาย container ให้เต็ม viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.ticket-title {
  color: #ffcc00;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.ticket-table {
  background-color: #001529;
  border-color: #ffcc00;
  border-radius: 10px;
  overflow: hidden;
  width: 100%; /* ให้ตารางแสดงเต็มความกว้าง */
  max-width: 1300px;

  margin: 0 auto;
  overflow-y: visible; /* แสดงตารางให้ครบ */

}

.ant-table-thead > tr > th {
  background-color: #001529 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.ant-table-row.row-light {
  background-color: #ffffff;
}

.ant-table-row.row-dark {
  background-color: #e0e0e0;
}
