/* src/components/Header.css */
.ticketcheck header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    position: fixed; /* Make sure the header stays at the top */
    left: 0;
    width: 100%; /* Full width */
    height: 60px;
    border-radius: 0; /* เอามุมมนออก */
    margin: 0;
}

.header .icon {
    padding-top: 5px ;
    font-size: 30px;
}

.ticketcheck h2{
    margin: 0;
    color:white;
    padding-top: 7px;
    margin-right: 1210px;
    
    
}
