/* src/components/Header.css */
.ticketcheck .headerder {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    position: fixed; /* Make sure the header stays at the top */
    left: 0;
    width: 100%; /* Full width */
    height: 60px;
    border-radius: 0; /* เอามุมมนออก */
    top: 0;
    z-index: 101;
}

.headerder .icon {
    padding-left: 15px;
    padding-top: 5px ;
    font-size: 30px;
}

.ticketcheck h2{
    padding-left: 5px;
    margin: 0;
    color:white;
    padding-top: 7px;
   
    
    
}
