/* สีพื้นหลังของแถวปกติ */
.ticketstatus .ant-table-tbody > tr:nth-child(odd) {
  background-color: #c4c1c1; /* สีสำหรับแถวที่เป็นเลขคี่ */
  
}

.ticketstatus .ant-table-tbody > tr:nth-child(even) {
  background-color: #eae6e6; /* สีสำหรับแถวที่เป็นเลขคู่ */
  
}

/* ส่วนอื่นๆ ของตาราง */
.ticketstatus .ticketchecktable-container {
  overflow-y: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 130px 16px 16px 16px; /* ขยับขึ้นไปข้างบนมากขึ้น */
  
}


.ticketstatus .ant-table {
  /* border: 1px solid #000001; เส้นขอบของตาราง */
  border-radius: 8px; /* มุมโค้งของตาราง */
}

.ticketstatus .ant-table-thead > tr > th {
  background-color: #6b6889 !important; /* ใช้ !important เพื่อบังคับใช้สี */
  font-weight: bold;
  color :white;
  text-align: center !important; /* จัดข้อความให้อยู่กึ่งกลาง */
}

.ticketstatus .ant-table-tbody > tr > td {
  text-align: center; /* จัดข้อความในเซลล์ให้อยู่กึ่งกลาง */
  padding: 8px; /* เพิ่มช่องว่างในเซลล์ */
}
.ticketstatus .main-content{
  height: 695px;
  background-color: white;
  overflow-y: hidden;
}

.ticketstatus h3 {
  font-size: 1.5rem; /* ขนาดตัวอักษร */
  font-weight: bold; /* น้ำหนักตัวอักษร */
  color: #333; /* สีตัวอักษร */
  margin: 20px 0; /* ระยะห่างบนและล่าง */
  text-align: left; /* จัดแนวซ้าย */
  border-bottom: 2px solid #e0e0e0; /* เส้นขอบใต้ */
  padding-bottom: 10px; /* ระยะห่างด้านล่าง */
  background-color: #f9f9f9; /* พื้นหลัง */
}
