.card-custom {
  padding: 0;
  border: none;
  margin: 15px;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth card animation */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for the card */
  overflow: hidden; /* Ensure content does not overflow */
  background-color: transparent; /* Set background to transparent */
}

.card-custom:hover {
  transform: scale(1.05); /* Slightly scale the card on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.poster-img {
  height: 100%; /* Ensure image fills the entire card */
  width: 100%;
  object-fit: cover; /* Cover the entire card without distortion */
  border-radius: 0; /* Remove any border-radius */
  display: block; /* Ensure the image behaves like a block element */
}
