/* Ticket.module.css */

.container {
    width: 100%;
    height: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    box-sizing: border-box;
  }
  
  .title {
    color: #ffc700;
    font-size: 36px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #ffc700;
    font-size: 20px;
    margin-bottom: -30px;
  }
  
  .ticketContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin-bottom: 50px;
    position: relative;
  }
  
  .ticket {
    width: 100%;
    border-radius: 20px;
  }
  
  .poster {
    position: absolute;
    top: 92px;
    left: 65px;
    width: 180px;
    height: auto;
  }
  
  .detailsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: 300px;
    color: #ffc700;
    font-size: 16px;
    font-weight: bold;
  }
  
  .movieName {
    font-size: 18px;
    color: #ffc700;
    text-align: left;
  }
  
  .language {
    font-size: 14px;
    color: #ffc700;
    text-align: left;
    margin-top: -18px;
    margin-left: 18px;
  }
  
  .sub {
    font-size: 14px;
    color: #ffc700;
    text-align: left;
    margin-top: -36px;
    margin-left: 85px;
  }
  
  .cinemaName {
    font-size: 18px;
    color: #ffc700;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .theater {
    font-size: 16px;
    color: #ffc700;
    margin-top: 35px;
    margin-right: 20px;
  }
  
  .seatNumber {
    font-size: 16px;
    color: #ffc700;
    text-align: right;
    margin-top: -45px;
    margin-right: -35px;
  }
  
  .date {
    font-size: 16px;
    color: #ffc700;
    text-align: left;
    margin-top: 30px;
  }
  
  .time {
    font-size: 16px;
    color: #ffc700;
    text-align: right;
    margin-top: -40px;
    margin-right: -30px;
  }
  
  .price {
    font-size: 18px;
    color: #ffc700;
    text-align: left;
    margin-top: 30px;
  }
  
  .qrCodeContainer {
    position: absolute;
    top: 80px;
    left: 280px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: -50px;
    margin-bottom: 50px;
  }
  
  .button {
    background-color: #ffc700;
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    text-align: center;
  }
  