/* src/components/Sidebar.css */
.ticketcheck .sidebar {
    width: 100px;
    background-color: #333;
    height: 100vh; /* Full height */
    position: fixed;
    top: 0; /* Start at the very top */
    left: 0; /* Align with the left edge */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 2px; /* กำหนดระยะห่างระหว่างไอคอน */
}

.ticketcheck .sidebar-item {
    color: white;
    /* margin-bottom: 2px; Reduced margin to bring items closer */
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.ticketcheck ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Make sure the list takes full width */
    text-align: center; /* Center align the content */
    margin-top: 50px; /* Adjust for any header or space needed */
    flex-grow: 1; /* Take up remaining space */
  }
  
  .ticketcheck li {
    padding: 70px ; /* Padding adjusted to center content vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    font-size: 14px; /* Adjust font size as needed */
  }
  